@media screen and (min-width:990px) {

.header__icon--cart {
    margin-right:0rem;
}
.nav-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.header-wrapper.unfold-header {
    border-bottom: 0px;
    min-width:80vw;
    top:20px;

        .header {
            padding: .75rem 2rem;
        }
}

.header-wrapper {
    border-radius: 20px;
    background: rgba(255, 250, 236, 0.50);
    box-shadow: 1px 1px 4px 0 rgba(255, 255, 255, 0.25) inset, 0 0 4px 0 rgba(0, 0, 0, 0.00) inset, 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(17px);
    overflow: hidden;
    height: 59px;
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    left: 50vw;
    transform: translate(-50%);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
}

.menu-toggle:hover {
    text-decoration:underline;
}

.header.expanded .nav-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header__inline-menu.unfold-menu {
    margin-left:0;
    border-top:.5px solid;
}

.list-menu.list-menu--inline.unfold-menu {
    display:grid;
    grid-template-columns: 2fr 1fr;
    min-width: 80vw;
}

.nav-left-wrap {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items:start;
    border-right: .5px solid;
    padding:2rem;
    column-gap:20px;
}

.nav-image-container {
  position: relative;
  width: auto;
  height: 100%;
  min-width:100px;
}

.menu-sections {
    display:flex;
    column-gap:2rem;
}

.nav-dropdown-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fills container while maintaining aspect ratio */
}

.gin_product-button-wrap {
    display:flex;
    flex-direction: row;
    column-gap:1rem;
}

.featured-list {
    height: 100%;
    display: grid;
}

.nav_article_block:first-child {
    border-bottom:.5px solid;
}

a.nav_article_block {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: left;
    column-gap: 2rem;
    color:inherit;
    text-decoration:none;
}

.menu-icon {
    transition: all 400ms ease;
}
}

/* Not desktop styling */
.menu-toggle {
    display:none;
}


.no_bullets {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}


html {
    visibility: visible;
    opacity: 1;
}

h3.section-title {
    margin: 0;
}

.nav_link, .header__column_title {
    font-family: 'Saa Series';
    color: inherit;
    text-decoration: unset;
    font-size: 1.5rem;
    line-height: 1rem;
}

.nav_link:hover {
    color: var(--gradient-base-accent-2);
}

.submenu li {
    line-height:normal;
}

.header__column_title {
    text-decoration:underline;
}

.featured__image {
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

.featured__image-wrap {
    position:relative;
    width:90px;
    height:100%;
    overflow:hidden;
}