.custom__product-grid-wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: center;
    row-gap:3rem;
    text-decoration: none;
}

.custom__product-grid-wrap.standard--grid {
    justify-content: space-between;
    position:relative;

        .product-grid-img {
            opacity:0;
            transition: all 300ms ease;
        }
}

.custom__product-grid-wrap.standard--grid:hover {
    .product-grid-img {
            opacity:1;
        }
}

.custom_slider__slide {
    position:relative;
    border-top: 1px dotted;
    border-right: 1px dotted;
    border-bottom: 1px dotted;
    margin-top: -1px;
}
.custom_card__media-wrap {
    height: 20rem;
    width:100%;
}

.custom_card__media {
    object-fit: contain!important;
    max-height: 100%;
}

.custom_slider__slide {
    .quick-add {
    top: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    opacity: 0;
    transition: opacity 200ms ease;
    }
    .quick-add:hover {
        opacity:1;
    }
}

.modal-button {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    background:none;
    border:none;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.modal-button {
    .quick-add__submit {
        min-width: 0;
        width: fit-content;
        height: auto;
    }
}

@media screen and (min-width: 990px) {
.grid.custom_collection__grid {
    column-gap: 0;
    row-gap: 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}
}

@media screen and (max-width: 989px) {
    .custom_slider__slide .quick-add {
    opacity:1;
    position:static;
    height:auto;
    width:auto;
}

@media screen and (max-width: 749px) {
    .custom__product-grid-wrap {
        padding:3rem;
    }

    .custom_collection__grid {
        .grid--peek.slider .grid__item:first-of-type {
        border-left: 1px dotted;
    }
    }
}
.product-grid-img {
    display:none;
}

.modal-button {
    width:auto;
    height:auto;
    position:static;
}

.custom__product-grid-wrap {
    height: auto;
}

.custom__product-grid-wrap.standard--grid {
    height:100%;
}
}

.product-grid-img {
    z-index: -1;
    overflow: hidden;
    max-height: 100%;
    position: absolute;
    width:100%;
    max-width: 100%;
    top:0;
    left:0;

        img {
            width: 100%;
            object-fit:cover;
        }
}

/* collection grid */ 

.quickadd_title-wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
    align-items:end;
    width: 100%;
    margin-top:2rem;
}

.title-price-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.title-price-wrap.align-center {
    align-items:center;
}

.custom__product-grid-wrap.standard--grid.reduced_padding {
    padding: 5rem 2rem 2rem 3rem;
}