.video-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Behind content */
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintains aspect ratio, crops if needed */
}

.video-content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.video-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-hero {
    background:none;
}

.hero-article-content {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    padding:4rem 4rem 3rem 4rem;
    border-radius: 20px;
    background: rgba(239, 229, 209, 0.25);
    /* dropshadow */
    box-shadow: 1px 1px 4px 0 rgba(255, 255, 255, 0.25) inset, 0 0 4px 0 rgba(0, 0, 0, 0.00) inset, 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(17px);
    max-width: 40rem;
    color:inherit;
    text-decoration: none;

}

.hero-button-text {
        font-family: "Saa Series";
        text-transform: uppercase;
        display: flex;
        align-items: center;
        column-gap: 1rem;
      }

