.Process .main-content{
    display:flex;
}

.Process .column1 {
    border: solid 1px purple; 
}
    
    
    .featured-article .main-content{
      width: 100%;
      height: 700px;
      background-size:cover; 
      opacity: 0.9; display:flex;
      padding: 14em 0vw 4em 0vw; 
      flex-direction:column;
      justify-content:space-between;
      color: #EFE5D1;
    }

    .featured-article .row1{
      width: 95%;
      display:flex; 
      justify-content:space-between;
      padding: 0px 3px 5px 3px; 
      align-self:center;
      font-size: calc(1.25em);
      font-weight: 400;
      line-height: 110%; 
      text-transform: uppercase;
      font-family: 'Saa Series';
      border-bottom: 1px solid #EFE5D1;     
    }

    .featured-article a{
      text-decoration: none; 
      color:#EFE5D1;
    }

     .featured-article .row2{
      width: 95%;
      align-self:center;
      display:flex;
      justify-content:space-between;
    }

    .featured-article h2{
      color: #EFE5D1;
      font-family: 'Futura';
      font-size: 42.527px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
    }

    .featured-article button{
      font-family:Century Schoolbook;
      background-color: #F9F1E0;
      color: #473F21;
      text-transform:uppercase;
      font-weight: 600;
      font-size: 19px;
      box-shadow: none;
      border: none;
      width: 160px;
      padding: 9px 25px 9px 25px;
      border-radius: 30px;"
    }