

  .process-wrapper {
    display:flex;
    flex-direction: row; 
    height: 100%;
    gap: 2rem;
    align-items: center;
  }

    .process-image{
    width: 40%;
    height: 100%;
    padding: .9em;

}
.process-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  {% comment %} display: block; {% endcomment %}
}


 .process-content{
    display:flex;
    height: 100%;
}

 .process-heading-div {
    align-self:flex-start;
    margin-top: 5rem;
  }
   .process-heading {
    font-family: "Century Schoolbook";
    font-weight: 400;
    text-transform: uppercase;
  }

  .process-steps {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 500px; /* Adjust height so spacing scales */
  {% comment %} padding-left: 1.5rem; {% endcomment %}
}

.col1, .col2{
width: 50%;
height:100%;
}
.col1{
border-right: 1px dashed #473F21;
padding-right: 20px;
display:flex;
flex-direction: column;
 gap:120px;  {% comment %} should we make this a slider  {% endcomment %}
align-items: flex-end;
}

.col2{
padding-left: 20px;
padding-top: 140px;
flex-direction: column;
display:flex;
 gap:110px;  {% comment %} should we make this a slider  {% endcomment %}

}

.col1 p{
text-align: right;
}

.process-step{
    display: flex;
    width: 60%;
} 

.dot1{
    position: absolute;
  left: 49%;
  width: 10px;
  height: 10px;
  background: #473F21;
  border-radius: 50%;
    top: 0px;
}

.dot2{
    position: absolute;
  left: 49%;
  width: 10px;
  height: 10px;
  background: #473F21;
  border-radius: 50%;
  top:150px;
} 

.dot3{
    position: absolute;
  left: 49%;
  width: 10px;
  height: 10px;
  background: #473F21;
  border-radius: 50%;
  top:260px;
} 
.dot4{
    position: absolute;
  left: 49%;

  width: 10px;
  height: 10px;
  background: #473F21;
  border-radius: 50%;
  top:360px;
} 
.dot5{
    position: absolute;
  left: 49%;
  width: 10px;
  height: 10px;
  background: #473F21;
  border-radius: 50%;
  top:450px;
} 

.process-step .number {
    font-family: 'Century Schoolbook';
    font-size: 17px;
}

.process-step p {
    font-family: 'Futura';
    font-size: 17px;
  margin: 0;
  line-height: 1.5;
  max-width: 280px;
}


  .step-number {
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 0;
  }


